$white: #fff;
$brand_default_color: #3498db;
$brand_success_color: #2ecc71;
$brand_danger_color: #e74c3c;
$black: #000;
$gl_radius: .2rem;
$font_size_base: 1.4rem;
$color_text_base:black;
$body_bg:#ccc;
$color_link_base:green;
$font_1: sans-serif;

//---------------------------------------------forms
$input_height: 4rem;
$input_offset: 0 1rem;
$input_font_size: $font_size_base;
$input_border_color: gray;
$input_border_color_active: $black;
$input_placeholder_color: #aaa;
$input_text_color: $black;
$input_radius: $gl_radius;
//---------------------------------------------forms###